// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #3689DE;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.card:hover {
  color: orange;
  background-color: black;
}

.title {
  font-weight: bold;
  color: #3689DE;
}

.submit {
  color: white;
  background-color: green;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
}

.banner {
  background: #FFFFFF;
  border-left: 4px solid black;
  margin-left: 5px;
  padding-left: 8px;
}
